body {
  font-family: "Courier";
  font-size: 0.8em;
}
span {
  font-weight: bold;
}

.card-whole {
  box-shadow: 10px 10px 5px #bdbdbd;
  /*
    I strongly believe that fixed width for a box and no its content is
    something wrong, so I would use this instead...

    width: min-content;

    ...but the project specification says that "Card width should be fixed
    [...]", so fixed, it is:
  */
  width: 322px;
  /*
    The width include:
    · 300 from the card content
    · 20 from left and right content margin
    · 2 from left and right content border
  */
}

.card-title {
  /* */
}
.card-image {
  width: 300px;
}
.card-info {
  margin: 0 10px 10px 10px;
  width: 300px;
}

.card-info-fact {
  font-style: italic;
}
.card-info-properties {
  list-style-type: none;
  padding: 0;
}
.card-info-description {
  /* */
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.with-border {
  border: 1px solid #bdbdbd;
}
.whole-margin {
  margin: 10px 10px 10px 10px;
}
.sides-margin {
  margin: 10px 10px 0 10px;
}
